[submodule "complib"]
	path = complib
	url = https://github.com/camypaper/complib.git
	branch = master
[submodule "docfx-material"]
	path = docfx-material
	url = https://github.com/ovasquez/docfx-material.git
